*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    position: relative;
    min-height: 100vh;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    
 }
 section  .container{
     position: relative;
     width: 800px;
     height: 500px;
     background: cornsilk;
     box-shadow: 0 15px 50px rgba(0,0,0,0.1);
 }
 section   .container .user {
 
     position: relative;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flexbox;
 
 }
 section   .container .user  .imgbx{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: 0.5s;
     
 
 }
 section  .container .user  .imgbx img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 section .container .user .formbx{
     position: relative;
     width: 50%;
     height: 100%;
     background:papayawhip;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 40px;
     transition: 0.5s;
 
 }
 section .container .user .formbx h2{
     font-size: 25px;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 2px;
     text-align: center;
     width: 100%;
     margin-bottom: 10px;
     color: rgb(39, 33, 33);

 }
 section .container .user .formbx  input{
     width: 100%;
     padding: 10px;
     background: honeydew;
     color: #333;
     border: none;
     outline: none;
     box-shadow: none;
     font-size: 18px;
     margin: 8px 0;
     letter-spacing: 1px;
     font-weight: 300;
     text-align: left;

 }
 section .container .user .formbx input[type="submit"]{

    max-width: 100px;
    background: #66a0d6;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
letter-spacing: 1px;
transition: 00.5s;

 }
 section .container .user .formbx input[type="submit"]:hover{
    color: #03070a;
 }
 section .container .user .formbx .signup{

    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
 }
 section .container .user .formbx .signup a{
     font-weight: 600;
     text-decoration: none;
     color: #62a9ec;
 }
 section .container .user .formbx .signup a:hover{
    font-weight: 600;
    text-decoration: none;
    color: #03070a;
 }
 
 